doctype html
html
  head
    meta(charset='utf-8')
    title Welcome
    style(media='screen').
      html, body{
      height:100%;
      width: 100%;
      overflow: hidden;
      }
      body {
      font-family: Helvetica, sans-serif;
      background-image: url("img/background.jpg");
      background-color: #cccccc;*/
      background-repeat:no-repeat;
      background-size:cover;
      }
      /*h1 {
      position: fixed;
      text-align: center;
      top: 200px;
      width: 100%;
      }*/
      .full-width {
      margin-top: 0;
      top: 0;
      width: 250px;
      height: 100vh;
      background-color: #cce6ff;
      }
      .formtest {
      text-align: center;
      }
      input[type="text"], input[type="password"] {
      padding: 10px;
      border: none;
      border-bottom: solid 2px #c9c9c9;
      border-radius: 3px;
      }
      .centerImage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      }
      #button {
      background-color: #00ba12;
      border: none;
      color: white;
      padding: 5px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      }
  body
    .full-width
      br
      br
      br
      br
      br
      br
      img.centerImage(height='80', src='img/picmate.png', alt='')
      .formtest
        h1 Welcome to alphyBot!
        br
        br
        form(action='index.html', method='post')
          p
            | Username
          input(type='text', name='alphName', value='', autocomplete='off')
          br
          br
          p
            | Password:
          br
          input(type='password', name='alphPW', value='')
          br
          br
          br
          br
          input#button(type='submit', name='submit', value='Login')
